.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: 25.93rem;
}

.slideshowPicture {
    display: flex;
    position: absolute;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    left: 0;
    z-index: 0;
    top: 0;
    border-radius: 0.625rem;
}

.pictureHidden {
    display: none;
}

.currentPicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureDisplayed {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
}

.arrowButton {
    display: flex;
    align-items: center;
    z-index: 4;
    height: 30%;
    width: 4rem;
    background: none;
    margin: 0 0.5em 0 0.5rem;
}

.slideShowVector {
    position: absolute;
    max-height: 4.95em;
    z-index: 1;
    cursor: pointer;
}

.vectorBack {
    left: 1rem;
}

.vectorForward {
    right: 1rem;
}

.pictureIndicator {
    height: 10%;
}

.indicatorHidden {
    display: none;
}

.indicatorDisplayed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    width: 95%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: white;
}
