.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: 15.94rem;
}

.pictureContainer {
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.625rem;
}

.slideshowPicture {
    display: flex;
    position: absolute;
    object-fit: cover;
    min-width: 100%;
    width: 104%;
    min-height: 100%;
    height: auto;
    z-index: 0;
    right: 0;
}

.pictureHidden {
    display: none;
}

.pictureDisplayed {
    display: flex;
}

.arrowHidden {
    display: none;
    cursor: default;
}

.arrowButton {
    display: flex;
    align-items: center;
    z-index: 4;
    height: 30%;
    width: 4rem;
    background: none;
    margin: 0;
    padding: 0;
}

.slideShowVector {
    position: absolute;
    height: 1.5rem;
    z-index: 1;
    cursor: pointer;
}

.vectorBack {
    left: 0.5rem;
}

.vectorForward {
    right: 0.5rem;
}

.pictureIndicator {
    height: 10%;
}

.indicatorHidden {
    display: none;
}

@media screen and (min-width: 1024px) {
    .slideshow {
        height: 25.9675rem;
    }

    .pictureContainer {
        border-radius: 1.5625rem;
    }

    .slideshowPicture {
        width: 100%;
    }

    .slideShowVector {
        height: 4.95rem;
    }

    .vectorBack {
        left: 1rem;
    }

    .vectorForward {
        right: 1rem;
    }

    .indicatorDisplayed {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 3;
        width: 95%;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        color: white;
    }
}
