.rentalRating {
    position: relative;
}

.greyStars {
    position: absolute;
    top: 0;
    z-index: 0;
}

.coloredStars {
    position: absolute;
    top: 0;
    z-index: 2;
}

.starDisplayed {
    border: none;
}

.starHidden {
    visibility: hidden;
}
