.rentalPresentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.rentalInformation {
    width: 100%;
}

.rentalTitle {
    font-size: 1.125rem;
    font-weight: 550;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

.rentalLocation {
    display: flex;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.5rem 0 0.5rem 0;
}

.rentalTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    padding: 1rem 0 1rem 0;
    border-radius: 0.65rem;
}

.tag {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.625rem;
    font-weight: 500;
    text-align: center;
    padding: 0.3em 1em;
    margin-right: 0.5rem;
    width: 4.25rem;
    border-radius: 0.4rem;
}

.rentalHostInformation {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rentalHost {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 49%;
    height: 2.625rem;
    max-height: 5vh;
    margin: 0;
}

.hostIdentity {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 2rem;
}

.hostPhoto {
    border-radius: 50%;
    height: 2rem;
    width: auto;
}

.rentalDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.equipment {
    display: flex;
}

@media screen and (min-width: 1024px) {
    .rentalPresentation {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
    }

    .rentalInformation {
        width: 55%;
    }

    .rentalTitle {
        font-size: 2.25rem;
    }

    .rentalLocation {
        font-size: 1.125rem;
    }

    .tag {
        font-size: 0.875rem;
        width: 7.19rem;
        border-radius: 0.7rem;
    }

    .rentalHostInformation {
        position: relative;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end;
        width: 49%;
    }

    .rentalHost {
        height: auto;
    }

    .hostIdentity {
        font-size: 1.125rem;
        width: 100%;
    }

    .hostPhoto {
        height: 4rem;
    }

    .rentalDetails {
        flex-direction: row;
        justify-content: space-between;
    }

    .rentalDetailBlock {
        width: 45%;
    }
}
