header {
    width: 100%;
    height: 13.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aProposImg {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1.5rem;
}
