.logoLayout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logoShaping {
    fill: var(--primary-color);
    height: 2.94rem;

    @media screen and (min-width: 1024px) {
        height: 4.25rem;
    }
}
