.homeMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.homeGallery {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 1.5rem;
    padding-top: 2rem;
}

.cardStyle {
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.2) 50%,
        black 80%
    );
    width: min(30%, 21.25rem);
    height: min(30vw, 21.25rem);
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: flex-end;
}

.cardA {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.625rem;
}

.rentalCover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    position: relative;
    z-index: 2;
    opacity: 0.75;
}

.rentalCover:hover {
    border-radius: 2rem;
    scale: 1;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.cardText {
    display: flex;
    color: white !important;
    font-weight: 500;
    position: absolute;
    z-index: 4;
    padding: 1.25rem;
    max-width: 8%;
}

@media screen and (max-width: 1299px) {
    .cardStyle {
        width: 17rem;
        height: 17rem;
        margin: 0.6rem;
    }

    .cardText {
        max-width: 25%;
    }
}
