.collapseArea {
    margin: 1em;
    background-color: var(--secondary-color);
    border-radius: 0.31rem;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 142.6%;
    width: 100%;
    height: 2.94rem;
    display: flex;
    border-radius: 0.31rem;
    cursor: pointer;
}
.collapseButtonTitle {
    display: flex;
    color: #fff;
}

.vectorImg {
    width: 1em;
    display: flex;
}

.collapseButtonContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

/*.collapseContent {
    background: green;
}*/

.collapseContentDetail {
    margin: 0;
    text-align: justify;
    border-radius: 0.31rem;
    border-radius: 0.31rem;
    overflow: hidden;
    height: 0px;
    transition: height ease 0.9s;
}
