.collapseArea {
    margin: 1em 0 1em 0;
    background-color: var(--secondary-color);
    border-radius: 0.31rem;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    border-radius: 0.31rem;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.collapseButtonTitle {
    display: flex;
    color: #fff;
}

.vectorImg {
    width: 1em;
    display: flex;
}

.collapseButtonContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

.collapseContent {
    border-radius: 0.31rem;
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
}

.collapseContentDetail {
    margin-bottom: 0.5rem;
    text-align: justify;
    border-radius: 0.31rem;
    overflow: hidden;
    height: 0px;
    transition: height ease 0.9s;
}
