.collapseArea {
    margin: 1em;
    border: red;
}

.collapseOpen {
    background-color: #f6f6f6;
    margin: 0;
    text-align: justify;
    border-radius: 0.31rem;
}

.collapseOpenContener {
    overflow: hidden;
    max-height: 0;
    /*transition: max-height 0.15s ease-out;*/
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 142.6%;
    width: 100%;
    height: 2.94rem;
    display: flex;
    border-radius: 0.31rem;
    &:focus + .collapseOpenContener {
        transition: max-height 5s ease-out;
        max-height: 500px;
        border: red 5px solid;
    }
}

.collapseButtonContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

.collapseButtonTitle {
    display: flex;
    color: #fff;
}

.vectorImg {
    width: 1em;
    display: flex;
}
