.kasaHeader {
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.kasaLogo {
}

.headerNav {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    font-size: 1.2rem;
    background: green;
}

@media screen and (max-width: 769px) {
    .kasaLogo {
    }

    .headerNav {
        font-size: 0.5rem;
        background: blue;
    }
}

.headerNav > a {
    text-decoration: none;
    font-weight: bold;
}
