.kasaHeader {
    height: 2.93rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.headerNav {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    font-size: 0.75rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.navLinkContainer > a {
    text-decoration: none;
    font-weight: 500;
}

[aria-current] {
    text-decoration: underline !important;
}

.test {
}
