.kasaHeader {
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kasaLogo {
    max-width: 210.32px;
}

.headerNav {
    display: flex;
    width: 10rem;
    justify-content: space-between;
}

.headerNav > a {
    text-decoration: none;
    font-weight: bold;
}
