.kasaFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    height: 210px;
}

.logoContener {
    max-height: 100%;
}

.footerKasaLogo {
    /*fill: transparent;*/
    height: 10px;
}

.kasaFooterText {
    color: white;
}
