.homeBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 6.94rem;
    position: relative;
    margin-bottom: 0.6rem;
}

.bannerTitle {
    color: #ffff;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 500;
    width: 63%;
    text-align: left;
    margin-left: 1rem;
}

.bannerImgLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    overflow: hidden;

    border-radius: 0.625rem;
}

.bannerImg {
    width: 160vw;
    object-fit: cover;
    filter: brightness(75%);
}

@media screen and (min-width: 481px) {
    .homeBanner {
        align-items: center;
    }

    .bannerTitle {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .homeBanner {
        height: 13.94rem;
        margin-bottom: 2.2rem;
        margin-top: 2.3rem;
    }

    .bannerTitle {
        font-size: 3rem;
        text-align: center;
    }

    .bannerImgLayout {
        border-radius: 1.5625rem;
    }
}
